$background-color: #333333;
$break-small: 500px;

// Colors
$yellow: #F1D60F;
$red: #DF3F2F;
$green: #2ecc71;
$purple: #8C35CF;

body, div {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 { padding: 0; margin: 0; }
