@import 'bourbon/bourbon';

$white: white;
$front-font-size: 34px;
$back-font-size: 24px;
$card-height: 200px;
$title-font-size: 42px;

$offset: 15px;
$size: 45px;

.back { display: none;}

#about {
  text-align: left;
  background-image: url("imgs/metallic.clj.svg");
  box-shadow: 0px -1px 4px rgba(9,6,6,0.56);
  font-family: 'Open Sans';
  position: relative;
  height: 100%;
  padding: 0;
  width: 100%;
  padding-top: 15px;

  .info-card {
    .title {
      color: black;
    }
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05)
  }

  .title {
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding: 5px;
    padding-right: 10px;
    width: 40%;
    min-width: 400px;

    @media (max-width: 500px) {
      text-align: center;
      width: 100%;
    }
    left: 0;
    position: relative;
  }

  h4.title {
    border-bottom: 2px outset $red;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 5px;
  }
}

$columns: 6;
$gutter: 10px;
$min-width: 120px;

.boxs {
  padding-top: $gutter;
  &:after { 
    content: ""; 
    display: table; 
    clear: both;
  }
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding-left: $gutter;
  

  @include perspective(1000);

  .box {
    border-right: 10px solid transparent;
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin-bottom: $gutter;

    @media (max-width: 800px) {
      float: none;
      margin: 0 auto 10px auto;
    }
  }

}

$fudge: 0.0;

$time: cubic-bezier(0.5, 0.9, .8, 1.0);

.card {
  @include transition(0.4s all $time);
  height: $card-height;

  color: white;

  .icon { 
    width: 40%;
  }
  h4 {
    font-size: $front-font-size;
  }
}

.card:hover {
  text-shadow: 0px 4px black;
  @include transition(0.4s all $time);
}

.compatibility {
  &:hover {
    background-color: $yellow;
  }
}

.innovation {
  &:hover {
    background-color: $green;
  }
}

.usability {
  &:hover {
    background-color: $purple;
  }
}
$picture-size: 400px;
$pad: 10px;

#who {
  position: relative;
  margin: auto;
  color: #fff;
  padding-top: 5px;

  p {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    padding: 10px;
  }

}

#principles {
  text-align: center;
}

#services {
  .content {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    color: white;

    ul {
      padding-left: 0px;
    }
  }
}

.expand { 
  width: 800px;
}

.box.width1 {
  width: $min-width + $gutter;
}

.box.width2 {
  width: $min-width * 2 + (2 * $gutter);
}

.box.width3 {
  width: $min-width * 3 + (3 * $gutter);
}
