@font-face {
  font-family: 'Exo Light';
  src: url('./css/fonts/Exo-Thin.otf');
}

@font-face {
  font-family: 'Expansiva';
  src: url('./css/fonts/iArnold_font.ttf');
}

@font-face {
  font-family: 'Pistara';
  src: url('./css/fonts/Pistara.otf');
}

@font-face {
  font-family: 'Poetsen';
  src: url('./css/fonts/PoetsenOne-Regular.ttf');
}


@font-face {
  font-family: 'Arvo';
  src: url('./css/fonts/Arvo-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('./css/fonts/Lato-Reg.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./css/fonts/OpenSans-Regular.ttf');
}


@font-face {
  font-family: 'Open Sans Light';
  src: url('./css/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('./css/fonts/Lato-Bol.ttf');
  font-weight: bold;
}

