$background-color: #333333;
$break-small: 500px;

// Colors
$yellow: #E0C70B;
$red: #DF3F2F;
$green: #05B44F;
$purple: #8C35CF;

@mixin background-svg($img) {
  background: url($img + ".png");
  background-image: url($img + ".svg"), none;
}

body, div {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 { padding: 0; margin: 0; }

.blur {
-webkit-filter: blur(1px);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

