@import 'bourbon/bourbon';

$background-shift-x: 80px;
$height: 400px;
$offset: 47px;

#intro {
  top: $offset;
  width: 100%;
  height: $height;
  box-sizing: border-box;
  display: table;
  @include background-svg("imgs/rainbow_grid.clj");

  h1 {
    font-weight: normal;
    font-family: 'Open Sans Light';
    font-size: 24px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    top: 200px;
    position: relative;
    padding: 0;
    width: 100%;
    text-align: center;
    color: rgb(26,26,26);

    @media screen and (max-width: $break-small) {
      font-size: 16px;
    }
  }

}
