@import 'bourbon/bourbon';

$background-shift-x: 80px;
$height: 400px;
$offset: 47px;

#intro {
  top: $offset;
  width: 100%;
  height: $height;
  text-align: center;
  box-sizing: border-box;
  display: table;

  h1 {
    font-weight: normal;
    font-family: 'Open Sans Light';
    font-size: 24px;
    margin: 0; 
    margin-top: 200px;
    padding: 0;
    @media screen and (max-width: $break-small) {
      font-size: 16px;
    }
    position: relative;
    color: white;
  }

  #background { 
    height: $height + 2 * $offset;
    position: fixed;
    width: 100%;
  }
}
