body, div {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.blur {
  -webkit-filter: blur(1px); }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

#intro {
  top: 47px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: table;
  background: url("imgs/rainbow_grid.clj.png");
  background-image: url("imgs/rainbow_grid.clj.svg"), none; }
  #intro h1 {
    font-weight: normal;
    font-family: 'Open Sans Light';
    font-size: 24px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    top: 200px;
    position: relative;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #1a1a1a; }
    @media screen and (max-width: 500px) {
      #intro h1 {
        font-size: 16px; } }

@font-face {
  font-family: 'Exo Light';
  src: url("./css/fonts/Exo-Thin.otf"); }
@font-face {
  font-family: 'Expansiva';
  src: url("./css/fonts/iArnold_font.ttf"); }
@font-face {
  font-family: 'Pistara';
  src: url("./css/fonts/Pistara.otf"); }
@font-face {
  font-family: 'Poetsen';
  src: url("./css/fonts/PoetsenOne-Regular.ttf"); }
@font-face {
  font-family: 'Arvo';
  src: url("./css/fonts/Arvo-Bold.ttf"); }
@font-face {
  font-family: 'Lato';
  src: url("./css/fonts/Lato-Reg.ttf"); }
@font-face {
  font-family: 'Open Sans';
  src: url("./css/fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Open Sans';
  src: url("./css/fonts/OpenSans-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'Open Sans Light';
  src: url("./css/fonts/OpenSans-Light.ttf"); }
@font-face {
  font-family: 'Lato';
  src: url("./css/fonts/Lato-Bol.ttf");
  font-weight: bold; }
.back {
  display: none; }

#about {
  text-align: left;
  background-image: url("imgs/metallic.clj.svg");
  box-shadow: 0px -1px 4px rgba(9, 6, 6, 0.56);
  font-family: 'Open Sans';
  position: relative;
  height: 100%;
  padding: 0;
  width: 100%;
  padding-top: 15px; }
  #about .info-card {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); }
    #about .info-card .title {
      color: black; }
  #about .title {
    text-align: right;
    font-size: 24px;
    font-weight: normal;
    color: white;
    padding: 5px;
    padding-right: 10px;
    width: 40%;
    min-width: 400px;
    left: 0;
    position: relative; }
    @media (max-width: 500px) {
      #about .title {
        text-align: center;
        width: 100%; } }
  #about h4.title {
    background-color: #df3f2f; }

.boxs {
  padding-top: 10px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 10px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000; }
  .boxs:after {
    content: "";
    display: table;
    clear: both; }
  .boxs .box {
    border-right: 10px solid transparent;
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin-bottom: 10px; }
    @media (max-width: 800px) {
      .boxs .box {
        float: none;
        margin: 0 auto 10px auto; } }

.card {
  -webkit-transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1);
  -moz-transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1);
  transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1);
  height: 200px;
  color: white; }
  .card .icon {
    width: 40%; }
  .card h4 {
    font-size: 34px; }

.card:hover {
  text-shadow: 0px 4px black;
  -webkit-transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1);
  -moz-transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1);
  transition: 0.4s all cubic-bezier(0.5, 0.9, 0.8, 1); }

.compatibility:hover {
  background-color: #e0c70b; }

.innovation:hover {
  background-color: #05b44f; }

.usability:hover {
  background-color: #8c35cf; }

#who {
  position: relative;
  margin: auto;
  color: #fff;
  padding-top: 5px; }
  #who p {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    padding: 10px; }

#principles {
  text-align: center; }

#services .content {
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  color: white; }

.expand {
  width: 800px; }

.box.width1 {
  width: 130px; }

.box.width2 {
  width: 260px; }

.box.width3 {
  width: 390px; }

#menu {
  box-shadow: 0px -1px 4px rgba(9, 6, 6, 0.56);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #333333;
  display: inline;
  overflow: hidden;
  height: 47px;
  -webkit-transform: perspective(1000px) rotateX(0deg);
  -moz-transform: perspective(1000px) rotateX(0deg);
  -ms-transform: perspective(1000px) rotateX(0deg);
  -o-transform: perspective(1000px) rotateX(0deg);
  transform: perspective(1000px) rotateX(0deg);
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  transition: 0.6s all;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  #menu #logo, #menu #nav-menu {
    display: inline-block; }
  #menu #logo img {
    width: 30px;
    margin: 0px 6px 0px 6px; }
  #menu.headroom--unpinned {
    -webkit-transform: perspective(300px) rotate3D(1, 0, 0, -90deg);
    -moz-transform: perspective(300px) rotate3D(1, 0, 0, -90deg);
    -ms-transform: perspective(300px) rotate3D(1, 0, 0, -90deg);
    -o-transform: perspective(300px) rotate3D(1, 0, 0, -90deg);
    transform: perspective(300px) rotate3D(1, 0, 0, -90deg); }

#nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  text-align: right;
  color: white;
  text-shadow: 0px 0px white;
  font-family: 'Open Sans Light'; }
  @media screen and (max-width: 500px) {
    #nav-menu {
      font-size: 12px; } }
  #nav-menu div {
    display: inline;
    margin: 5px; }
  #nav-menu a {
    text-decoration: none;
    color: white; }

#logo {
  padding-top: 5px; }
  #logo canvas {
    float: left; }
  #logo h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    position: relative;
    font-family: 'Exo light';
    color: white;
    display: inline; }
    @media screen and (max-width: 500px) {
      #logo h1 {
        font-size: 20px; } }
    #logo h1 .rainbow-word :nth-child(1) {
      color: #e0c70b; }
    #logo h1 .rainbow-word :nth-child(2) {
      color: #df3f2f; }
    #logo h1 .rainbow-word :nth-child(3) {
      color: #05b44f; }
    #logo h1 .rainbow-word :nth-child(4) {
      color: #8c35cf; }
